<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <textarea id="textArea"></textarea>
        <button onclick="send()"> send </button>
        <p id="text"></p>


        <textarea id="testarea"></textarea>
        <button onclick="test()"> test </button>
        <p id="testresult"></p>
    </body>
</html>